{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "all"],
    "eol-last": "error",
    "eqeqeq": ["error", "allow-null"],
    "indent": ["error", "tab"],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "no-console": "off",
    "no-var": "error",
    "object-shorthand": ["error", "always"],
    "prefer-const": "error",
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "spaced-comment": ["error", "always", { "exceptions": ["-"] }]
  },
  "globals": {
    "espace": true,
    "ace": true
  }
}