body {
    background-color: #131411;
    color: white;
    font-family: sans-serif;
}

.center {
    margin: 0 auto;
    margin-top: 80px;
    width: calc(580px * 3 + 40px * 2);
}

p {
    margin-left: 20px;
}

.title,.header {
    font-weight: bold;
}

.demo-link {
    color: #CCCCCC;
}

.editor-container {
    float: left;
}

#input-editor,#tokens-editor,#tree-editor {
    width: 580px;
    height: 700px;
}

.editor-container+.editor-container {
    margin-left: 40px;
}